    <div align="center" class="pt-4" style="font-weight: 700; font-size: 45px; color: #2874f0;">
        <u>ADD YOUR PREFERENCES</u>
    </div>
    <!-- <div class="container">
        <form [formGroup]="userForm" (ngSubmit)="onFormSubmit()">
            <ul align="center">
                <li>
                    <label>Mountains
                        <input type="checkbox" [value]="Mountains" ngModel name="Mountains" #Mountains="ngModel">
                        <input type="checkbox" formControlName="Mountains">
                        <span class="check"></span>
                    </label>
                </li>
    
                <li>
                    <label>Beaches
                        <input type="checkbox" [(ngModel)]="checkBoxValue2">
                        <input type="checkbox" formControlName="Beaches">
                        <span class="check"></span>
                    </label>
                </li>
    
                <li>
                    <label>Historical Places
                        <input type="checkbox" [(ngModel)]="checkBoxValue3">
                        <input type="checkbox" formControlName="HP">
                        <span class="check"></span>
                    </label>
                </li>
    
    
                <li>
                    <label>Snow Areas
                        <input type="checkbox" [(ngModel)]="checkBoxValue4">
                        <input type="checkbox" formControlName="SA">
                        <span class="check"></span>
                    </label>
                </li>
    
                <li>
                    <label>Museum
                        <input type="checkbox" [(ngModel)]="checkBoxValue5">
                        <input type="checkbox" formControlName="Museum">
                        <span class="check"></span>
                    </label>
                </li>
    
                <li>
                    <label>Forest Areas
                        <input type="checkbox" [(ngModel)]="checkBoxValue6">
                        <input type="checkbox" formControlName="FA">
                        <span class="check"></span>
                    </label>
                </li>
            </ul>

            

            
        </form>
        
    </div> -->



    <form class="form-control">
        <div class="container-fluid shadow p-2 bg-white rounded mb-5" style="margin-top:4px" *ngFor="let i of productDisplay">
            <div class="container-fluid card border-0" style=" margin-top:15px">
                <div class="row">
                    <div style="margin-left: 445px" *ngFor="let j of i.ProductSchema">
                        <div class="d-flex flex-column align-items-center ">
                            <ul>
                                <li align="center">
                                    <label>{{j.title}} 
                                        <input type="checkbox"
                                        value="{{j.title}}" name="places"
                                        (change)="onClicked(j.title, $event)" >
                                        <span class="check"></span>
                                    </label>
                                </li>
                            </ul>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </form>

    <div>
        <button type="submit">Sign Up</button>
    </div>
